@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html {
  background-color: #000;
}

._container {
  font-family: 'Inter', sans-serif;
  color: #fff;
  padding: 100px 0 0 100px;
}

.app {

  &__title {
    font-size: 48px;
    line-height: 125%;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__add {
    margin-bottom: 50px;
    background-color: #18181B;
    border: 1px solid #27272A;
    padding: 15px 25px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  &__container {}
  &__dates {
    display: grid;
    grid-template: 64px / 100px repeat(7, 64px);
    column-gap: 48px;
    margin-bottom: 24px;
  }
  &__dates-item {
    color: #A1A1AA;
    font-size: 20px;
    text-align: center;
  }
  &__habit {
    display: grid;
    grid-template: 64px / 100px repeat(7, 64px);
    column-gap: 48px;
    margin-bottom: 24px;
  }
  &__habit-name {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__habit-name-add {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      display: none;
    }

    &-input {
      background-color: #18181B;
      border: 1px solid #27272A;
      max-width: 100%;
      height: 80%;
      padding: 10px;
      font-size: 20px;
      color: #ffffff;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }
  }

  &__habit-done {}
}

.section {
  width: 64px;
  height: 64px;

  &-done {
    background-color: #18181B;
    border: 2px solid #27272A;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
}